*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  font-family: 'Manrope', sans-serif;
  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $pink;
  color: $black;
}

img {
  display: block;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

.button{
  cursor: pointer;
  border: none;
  display: block;
}
button{
  cursor: pointer;
  border: none;
  display: block;
}


.container {
  padding: 0 16px;
  margin: auto;
  max-width: 320px;
  position: relative;
}

.title{
  font-family: 'Tektur', cursive;
}